<div id="masthead" class="site-header  ">
  <div class="branding left">
    <a href="/">
      <i class="logo">
      </i>
      Unify
    </a>
  </div>
  <div class="create-account right">
    <a href="#/register">
      <span class="">
       Wat we willen bereiken
      </span>
    </a>
  </div>
  <div class="login right">
    <a href="#/login">
      <span class="">
       Hoe het werkt
      </span>
    </a>
  </div>
  <div class="right">
    <a href="#/create-event" class="">
      <span class="organize-event">
        Registreer uw bedrijf
      </span>
    </a>
  </div>
</div>
